.elementor-593 .elementor-element.elementor-element-8f0fd1f:not(.elementor-motion-effects-element-type-background), .elementor-593 .elementor-element.elementor-element-8f0fd1f > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#000000;}.elementor-593 .elementor-element.elementor-element-8f0fd1f{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-593 .elementor-element.elementor-element-8f0fd1f > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-593 .elementor-element.elementor-element-690f8315 > .elementor-element-populated{margin:10px 0px 0px 50px;}.elementor-593 .elementor-element.elementor-element-219aab06 .elementor-icon-wrapper{text-align:center;}.elementor-593 .elementor-element.elementor-element-219aab06.elementor-view-stacked .elementor-icon{background-color:#FFFFFF;}.elementor-593 .elementor-element.elementor-element-219aab06.elementor-view-framed .elementor-icon, .elementor-593 .elementor-element.elementor-element-219aab06.elementor-view-default .elementor-icon{color:#FFFFFF;border-color:#FFFFFF;}.elementor-593 .elementor-element.elementor-element-219aab06.elementor-view-framed .elementor-icon, .elementor-593 .elementor-element.elementor-element-219aab06.elementor-view-default .elementor-icon svg{fill:#FFFFFF;}.elementor-593 .elementor-element.elementor-element-219aab06 .elementor-icon{font-size:20px;}.elementor-593 .elementor-element.elementor-element-219aab06 .elementor-icon i, .elementor-593 .elementor-element.elementor-element-219aab06 .elementor-icon svg{transform:rotate(0deg);}.elementor-593 .elementor-element.elementor-element-219aab06 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-593 .elementor-element.elementor-element-219aab06{width:initial;max-width:initial;align-self:flex-end;}.elementor-593 .elementor-element.elementor-element-6877e838{text-align:left;width:initial;max-width:initial;align-self:center;}.elementor-593 .elementor-element.elementor-element-6877e838 .elementor-heading-title{color:#FFFFFF;font-family:"Roboto Condensed", Sans-serif;font-size:18px;font-weight:600;}.elementor-593 .elementor-element.elementor-element-6877e838 > .elementor-widget-container{margin:0px 0px 0px 8px;}.elementor-593 .elementor-element.elementor-element-5103a95f > .elementor-element-populated{margin:0px 0px 0px 181px;}.elementor-593 .elementor-element.elementor-element-1991cff > .elementor-element-populated{margin:3px 0px 0px 100px;}.elementor-593 .elementor-element.elementor-element-8cab292 .elementor-icon-wrapper{text-align:center;}.elementor-593 .elementor-element.elementor-element-8cab292.elementor-view-stacked .elementor-icon{background-color:#FFFFFF;}.elementor-593 .elementor-element.elementor-element-8cab292.elementor-view-framed .elementor-icon, .elementor-593 .elementor-element.elementor-element-8cab292.elementor-view-default .elementor-icon{color:#FFFFFF;border-color:#FFFFFF;}.elementor-593 .elementor-element.elementor-element-8cab292.elementor-view-framed .elementor-icon, .elementor-593 .elementor-element.elementor-element-8cab292.elementor-view-default .elementor-icon svg{fill:#FFFFFF;}.elementor-593 .elementor-element.elementor-element-8cab292 .elementor-icon{font-size:26px;}.elementor-593 .elementor-element.elementor-element-8cab292 .elementor-icon i, .elementor-593 .elementor-element.elementor-element-8cab292 .elementor-icon svg{transform:rotate(0deg);}.elementor-593 .elementor-element.elementor-element-8cab292 > .elementor-widget-container{margin:7px 0px 0px 0px;}.elementor-593 .elementor-element.elementor-element-8cab292{width:initial;max-width:initial;align-self:flex-end;}.elementor-593 .elementor-element.elementor-element-712e8bc{text-align:left;width:initial;max-width:initial;align-self:center;}.elementor-593 .elementor-element.elementor-element-712e8bc .elementor-heading-title{color:#FFFFFF;font-family:"Roboto Condensed", Sans-serif;font-size:18px;font-weight:400;}.elementor-593 .elementor-element.elementor-element-712e8bc > .elementor-widget-container{margin:0px 0px 0px 7px;}.elementor-593 .elementor-element.elementor-element-2444682f > .elementor-element-populated{margin:4px 50px 0px 0px;}.elementor-593 .elementor-element.elementor-element-a623e62 .elementor-search-form__container{min-height:36px;}.elementor-593 .elementor-element.elementor-element-a623e62 .elementor-search-form__submit{min-width:36px;}body:not(.rtl) .elementor-593 .elementor-element.elementor-element-a623e62 .elementor-search-form__icon{padding-left:calc(36px / 3);}body.rtl .elementor-593 .elementor-element.elementor-element-a623e62 .elementor-search-form__icon{padding-right:calc(36px / 3);}.elementor-593 .elementor-element.elementor-element-a623e62 .elementor-search-form__input, .elementor-593 .elementor-element.elementor-element-a623e62.elementor-search-form--button-type-text .elementor-search-form__submit{padding-left:calc(36px / 3);padding-right:calc(36px / 3);}.elementor-593 .elementor-element.elementor-element-a623e62:not(.elementor-search-form--skin-full_screen) .elementor-search-form__container{border-radius:3px;}.elementor-593 .elementor-element.elementor-element-a623e62.elementor-search-form--skin-full_screen input[type="search"].elementor-search-form__input{border-radius:3px;}.elementor-593 .elementor-element.elementor-element-780d81df:not(.elementor-motion-effects-element-type-background), .elementor-593 .elementor-element.elementor-element-780d81df > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}.elementor-593 .elementor-element.elementor-element-780d81df{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:0px 0px 20px 0px;}.elementor-593 .elementor-element.elementor-element-780d81df > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-593 .elementor-element.elementor-element-138721b9 > .elementor-element-populated{margin:15px 0px 0px 50px;}.elementor-593 .elementor-element.elementor-element-7ac70a71{text-align:left;}.elementor-593 .elementor-element.elementor-element-7ac70a71 img{width:40%;}.elementor-593 .elementor-element.elementor-element-7ac70a71 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-593 .elementor-element.elementor-element-18dd88ec .elementor-spacer-inner{height:10px;}.elementor-593 .elementor-element.elementor-element-bbd8b16 > .elementor-element-populated{margin:-8px 0px 0px 140px;}.elementor-593 .elementor-element.elementor-element-b18650d .elementor-spacer-inner{height:1px;}@media(min-width:768px){.elementor-593 .elementor-element.elementor-element-4f76b70e{width:22.363%;}.elementor-593 .elementor-element.elementor-element-bbd8b16{width:43.969%;}}/* Start custom CSS for html, class: .elementor-element-480d133 */ul, ol{
list-style:none;
margin: auto;
}

.nav li a{
background-color: #fff;
color: #000;
text-decoration:none;
padding: 10px 15px;
display:block;
font-weight: bold;
}

.nav > li {
float:left;
}

.nav li a:hover{
color:#a59564;
transition: .5s;
}

/*.nav li ul{
position:absolute;
z-index: 100;

}*/

.contenedor{
position:absolute;
width: 1000px;
height: 500px;
background: #fff;
margin-left: -660px;
z-index: 100;
color:#B0B0B0;
font-weight: bold;
display: none;
}

.nav li:hover .contenedor{
    display: block;
}

.segtp{
position: absolute;
margin-left: 250px;
margin-top: -40px;
display:none;
}

.contenedor li:hover .segtp{
    display: block;
}

.segdp{
position: absolute;
margin-left: 250px;
margin-top: -88px;
display:none;
}

.contenedor li:hover .segdp{
    display: block;
}

.segsb{
position: absolute;
margin-left: 250px;
margin-top: -135px;
display:none;
}

.contenedor li:hover .segsb{
    display: block;
}

.segsb li>a{
margin-left: -15;
}

.pcolotp{
position: absolute;
margin-left: 130px;
margin-top: -75px;
display:none;
width: 250px;

}

.segtp li:hover .pcolotp{
    display: block;
}

.pcolotpf{
position: absolute;
margin-left: 130px;
margin-top: -125px;
display:none;
width: 250px;

}

.segtp li:hover .pcolotpf{
    display: block;
}

.pcolotpa{
position: absolute;
margin-left: 130px;
margin-top: -170px;
display:none;
width: 250px;

}

.segtp li:hover .pcolotpa{
    display: block;
}

.pcolotpt{
position: absolute;
margin-left: 130px;
margin-top: -220px;
display:none;
width: 250px;

}

.segtp li:hover .pcolotpt{
    display: block;
}

.segdp li:hover .pcolotp{
    display: block;
}

.segdp li:hover .pcolotpf{
    display: block;
}

.segdp li:hover .pcolotpa{
    display: block;
}

.segdp li:hover .pcolotpt{
    display: block;
}

.segsb li:hover .pcolotp{
    display: block;
}

.segsb li:hover .pcolotpf{
    display: block;
}

.segsb li:hover .pcolotpa{
    display: block;
}

.segsb li:hover .pcolotpt{
    display: block;
}

.segtp .pcolotpf li>a{
    margin-top: -5px;
}

.segtp .pcolotpa li>a{
    margin-top: 93px;
}

.segdp .pcolotpf li>a{
    margin-top: -5px;
}

.segdp .pcolotpa li>a{
    margin-top: 93px;
}

.imgmenu{
    width: 300px;
    margin-left: 650px;
    margin-top: -250px;
}/* End custom CSS */